.login-button {
    font-family: inherit;
    display: inline-block;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin-top: 0.5rem;
    font-size: 20px;
    z-index: 1;
    color: black;
    border: 2px solid #ffe677;
    border-radius: 6px;
    position: relative;
  }
  
  .login-button::before {
    position: absolute;
    content: "";
    background: #ffe677;
    width: 550px;
    height: 110px;
    z-index: -1;
    border-radius: 50%;
  }
  @media screen and (max-width: 750px) {
    .login-button::before {
        width: 600px;
        height: 110px;


    }
  }
  
  .login-button:hover {
    color: black;
  }
  
  .login-button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all ease-in;
  }
  


  .button-google {
    padding: 10px;
    font-weight: bold;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    align-items: center;
    border: solid gray 1px;
    outline: none;
  }
  
  .button-google  .svg {
    height: 25px;
    margin-right: 10px;
  }
  
  .button-google .text {
    z-index: 10;
    font-size: 14px;
  }
  
  .button-google:hover .text {
    animation: text forwards 0.3s;
    /*color: white;*/
  }
  
  @keyframes text {
    from {
      color: black;
    }
  
    to {
      color: white;
    }
  }
  
  .button-google .svg {
    z-index: 6;
  }
  
  .button-google:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 300px;
    animation: wave1 2.5s ease-in-out forwards;
  }
  
  .button-google:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 300px;
    animation: wave2 2.5s ease-in-out forwards;
  }
  
  @keyframes wave1 {
    0% {
      z-index: 1;
      background: #EB4335;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    1% {
      z-index: 1;
      background: #EB4335;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    25% {
      z-index: 1;
      background: #EB4335;
      width: 800px;
      height: 800px;
      opacity: 1;
    }
  
    26% {
      z-index: 3;
      background: #34A853;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    50% {
      z-index: 3;
      background: #34A853;
      width: 800px;
      height: 800px;
      opacity: 1;
    }
  
    70% {
      z-index: 3;
      background: #34A853;
      width: 800px;
      height: 800px;
      opacity: 1;
    }
  
    100% {
      z-index: 3;
      background: #34A853;
      width: 800px;
      height: 800px;
      opacity: 1;
    }
  }
  
  @keyframes wave2 {
    0% {
      z-index: 2;
      background: #FBBC05;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    11% {
      z-index: 2;
      background: #FBBC05;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    35% {
      z-index: 2;
      background: #FBBC05;
      width: 800px;
      height: 800px;
      opacity: 1;
    }
  
    39% {
      z-index: 2;
      background: #FBBC05;
      width: 800px;
      height: 800px;
      opacity: 1;
    }
  
    40% {
      z-index: 4;
      background: #4285F4;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    64% {
      z-index: 4;
      background: #4285F4;
      width: 800px;
      height: 800px;
      opacity: 1;
    }
  
    100% {
      z-index: 4;
      background: #4285F4;
      width: 800px;
      height: 800px;
      opacity: 1;
    }
  }
  
  .button-google:hover .red {
    animation: disappear 0.1s forwards;
    animation-delay: 0.1s;
  }
  
  .button-google:hover .yellow {
    animation: disappear 0.1s forwards;
    animation-delay: 0.3s;
  }
  
  .button-google:hover .green {
    animation: disappear 0.1s forwards;
    animation-delay: 0.7s;
  }
  
  .button-google:hover .blue {
    animation: disappear 0.1s forwards;
    animation-delay: 1.1s;
  }
  
  @keyframes disappear {
    from {
      filter: brightness(1);
    }
  
    to {
      filter: brightness(100);
    }
  }