#admin-active {
  background-color: var(--color-now);
  color: white;
}

.bg-admin-hero-pattern {
  background-image: url("https://res.cloudinary.com/dvagn6szo/image/upload/v1684592374/hotel-Rheingold/Startup_managers_presenting_and_analyzing_sales_growth_chart_tnjvhj.jpg");
  alt: "Image by pch.vector on Freepik";
}
