.react-calendar {
  width: 90%;
}
.selected {
  background-color: rgb(24, 218, 69) !important;
  color: white;
  font-weight: bold;
  border-color: black !important;
}
.react-calendar__tile:disabled {
  background-color: #a89d9d;
}
.react-calendar__tile--now {
  background: #14a5bf !important;
  color: white;
}
.react-calendar__month-view__days__day--weekend {
  color: blue !important;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size: 1.3em;
  /* padding-block: 1em; */
  border: solid rgba(0, 0, 0, 0.285) !important;
}

@media screen and (max-width: 830px) {
  .react-calendar button {
    font-size: 1em;
  }
}
