.react-calendar {
  width: 90%;
}
.selected {
  background-color: rgb(24, 218, 69) !important;
  color: white;
  font-weight: bold;
  border-color: black !important;
}
.selected.check-in {
  background-color: lightgreen !important;
}

.selected.check-out {
  background-color: #f08080 !important;
}
.react-calendar__tile:disabled {
  background-color: #aba5a574;
}
.react-calendar__tile--now {
  background: #14a5bf !important;
  color: white;
}
.react-calendar__month-view__days__day--weekend {
  color: blue !important;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size: 1.3em;
  /* padding-block: 1em; */
  border: solid 1px rgba(0, 0, 0, 0.285) !important;
}

.price-container {
  position: fixed;
  right: 2rem;
}

.history-calendar {
  width: 2rem;
  height: 2rem;
}
.history-calendar-container {
  width: 90%;
  border: solid 1px rgba(0, 0, 0, 0.285) !important;
}

@media screen and (max-width: 850px) {
  .price-container {
    right: 0;
  }
}
@media screen and (max-width: 770px) {
  .react-calendar button {
    font-size: 1em;
  }
  .price-container {
    position: initial;
  }
  .history-calendar {
    width: 1.5rem;
    height: 1.5rem;
  }
  .history-calendar + span {
    font-size: 1rem;
  }
}

.StripeCheckout,
.StripeCheckout span {
  background: lightgreen !important;
}
.StripeCheckout:hover,
.StripeCheckout span:hover {
  background: rgb(24, 218, 69) !important;
}
