.small-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.75);
  color: var(--color-gold-text);
  z-index: 1000;
}

.ReactModal__Content {
  position: absolute;
  top: 10% !important;
  left: 5% !important;
  right: 5% !important;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg) !important;
  z-index: 1001;
  display: flex;
  height: 80vh;
  width: 90vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}

.ReactModal__Content img {
  /* width: 100%; */
  height: 90%;
  width: 90%;
  object-fit: contain;
  aspect-ratio: 2 / 1;
}
.no-scroll {
  /* overflow: hidden; */
  height: 100%;
}

.gallery-modal .arrow-btn {
  font-size: 2em;
  padding: 1rem;
}
#gallery .swiper-button-next::after,.swiper-button-prev::after {
  font-size: 2.5rem;
}


