@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/swiper-bundle.min.css";
:root {
  --color-selected: rgb(24, 218, 69);
  --color-checkin: lightgreen;
  --color-checkout: #f08080;
  --color-now: #14a5bf;
  --color-disabled: #aba5a574;
  --color-gold-text: #8f7a40;
  --color-grey-calendar: #e6e6e6;
  --color-bg: #a7bed3;
  --swiper-theme-color: #14a5bf !important;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Carrois Gothic", "Oswald", BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #8f7a40;
  /* background-image: url("/public/bg/blurry-gradient-haikei.png"); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  /* background: rgb(232, 207, 138);
  background: linear-gradient(
    180deg,
    rgba(232, 207, 138, 1) 1%,
    rgba(193, 204, 169, 1) 10%,
    rgba(167, 190, 211, 1) 33%,
    rgba(167, 190, 211, 1) 56%,
    rgba(193, 204, 169, 1) 84%,
    rgba(232, 207, 138, 1) 98%
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
