.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal span {
  background-color: var(--color-now) !important;
}
.nav-modal {
  -webkit-box-shadow: -6px 1px 15px -11px #000000;
  box-shadow: -6px 1px 15px -11px #000000;
}

#active {
  color: black;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white,
      1px 1px 1px white, 0 0 3px white, 0 0 10px white, 0 0 20px white;
  }
  50% {
    text-shadow: -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white,
      1px 1px 1px white, 0 0 5px white, 0 0 15px white, 0 0 25px white;
  }
  100% {
    text-shadow: -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white,
      1px 1px 1px white, 0 0 3px white, 0 0 10px white, 0 0 20px white;
  }
}

.nav-link-flex-container {
  align-items: inherit;
}
nav a:hover {
  color: black;
  animation: neon 3s infinite;
}
