.weather-hero {
  background-image: url("https://res.cloudinary.com/dvagn6szo/image/upload/v1684590952/hotel-Rheingold/clouds-gc327510b7_1280_lfk2gz.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  alt: "Image by Studio_Iris from Pixabay ";
}

.hero-ski {
  background-image: url("https://res.cloudinary.com/dvagn6szo/image/upload/v1684590908/hotel-Rheingold/ski-slope-g8a566839f_1280_okbjab.jpg");
  background-position: left;
  alt: "Image by Photo Mix from Pixabay ";
}
.weather-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.weather-5::-webkit-scrollbar {
  width: 11px;
  background-color: var(--color-bgEx);
  border-radius: 6px;
}
.weather-5 {
  scrollbar-width: thin;
}

.weather-5::-webkit-scrollbar-thumb {
  background-color: var(--color-bg);
  border-radius: 6px;
  border: 3px solid;
}
